#createMonthlyForm
{
	width: 120%;
    padding: 250px 0px 0px 500px;
}

#input_date_label,
#ave_tno_label,
#youth_service_label
{
	color: white;
}

textarea#student_leadership_textarea,
textarea#leadership_development_textarea,
textarea#campus_outreach_textarea
{
	width: 750px;
	border: 3px solid #cccccc;
}

div#campus_other,
div#leadership_other,
div#student_other
{
	margin-bottom: 10px;
}

div#other_campus_outreach_input,
div#other_student_leadership_input,
div#other_leadership_development_input
{
	display: none;	
}