#createMonthlyForm
{
	width: 120%;
    padding: 170px 0px 0px 370px;
}

#input_date_label
{
	color: white;
}

#youth_service_label
{
	color: white;
}
#ave_tno_label
{
	color: white;
}