#createMonthlyForm
{
	width: 120%;
    padding: 250px 0px 0px 500px;
}

#input_date_label
{
	color: white;
}

#youth_service_label
{
	color: white;
}

#ave_tno_label
{
	color: white;
}

#other_campus_outreach_title
{
	float: left;
}

textarea#campus_outreach_textarea
{
	width: 750px;
	border: 3px solid #cccccc;
}

textarea#student_leadership_textarea
{
	width: 750px;
	border: 3px solid #cccccc;
}

textarea#leadership_development_textarea
{
	width: 750px;
	border: 3px solid #cccccc;
}
