.checkbox-size{
  transform: scale(2);
  margin-bottom: 4 !important;
}

.checkbox-centered{
  padding-right: 9px !important; 
}

.headtable-color{
  background-color: #1c5594;
  color: white; /*text-color*/
}

table.dataTable th.dt-center,
  table.dataTable td.dt-center,
  table.dataTable td.dataTables_empty {
    text-align: center;
}

table.dataTable tbody tr {
  background-color: white;
}
